name: CI

on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - ".github/workflows/ci.yml"
      - "package.json"
      - "index.html"
      - "tsconfig.json"
      - "pnpm-lock.yaml"
      - "vite.config.ts"
      - "wrangler.toml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
